                            <div class="mb-3">
                                <label for="registerProvince" class="form-label" style="color: #14b8a6; font-weight: bold;">Province</label>
                                <select class="form-control" id="registerProvince" name="province" required>
                                    <option value="" disabled selected>Select Province of interest</option>
                                    <option value="Harare">Harare</option>
                                    <option value="Bulawayo">Bulawayo</option>
                                    <option value="Manicaland">Manicaland</option>
                                    <option value="Mashonaland Central">Mashonaland Central</option>
                                    <option value="Mashonaland East">Mashonaland East</option>
                                    <option value="Mashonaland West">Mashonaland West</option>
                                    <option value="Masvingo">Masvingo</option>
                                    <option value="Matabeleland North">Matabeleland North</option>
                                    <option value="Matabeleland South">Matabeleland South</option>
                                    <option value="Midlands">Midlands</option>
                                </select>
                            </div>